[Unit]
Description=GOST SERVER
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gost -L henglxm:8050310@:83 socks5://:83
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
