[Unit]
Description=GOST SERVER
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/gost -L henglxm:henglxm@:1113 socks5://:1113
limitDATA=102400
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target
